# Ignores personal workspace settigns
.vscode

# Ignores sensitive information files
.env

# Ignore environment files
.venv

# Ignore Python cache and virtual environment directories
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/

filepaths.py

test.py